.paragraph {
    -fx-font-family: "Helvetica";
    -fx-font-size: 72px;
}

.buzzSpan {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.killSpan {
    -fx-fill: #C50909;
    -fx-font-weight: bold;
}

.span3 {
    -fx-fill: green;
    -fx-font-style: italic;
}